
<div class="div-cat">
    <ul class="ul-cat">
        <li class="li-cat">
            <h1>Job Approval</h1>
        </li>
        <li class="li-cat" style="margin-left: 30px;"><input type="text" id="search" name="search" placeholder="search company"></li>
        <li class="li-cat" style="margin-left: 15px;"><button>Search</button></li>
        <li class="li-cat1" style="margin-left: 20px; margin-right: 20px;"><button>View Job Approved</button></li>
        <li class="li-cat1"><button>Create Post</button></li>



    </ul>


</div>