<app-loginnav></app-loginnav>
<div class="bacimg" style="background-image: url('../../assets/img/13416124_5228748.jpg')">
  <!-- Your component content here -->


  <div class="reg-form">
    <div class="ring">
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <i style="--clr:#177245;"></i>
      <div class="container-new">
        <div class="title">Log in now</div>
        <div class="content">
          <form [formGroup]="form" (submit)="submit()">

            <div class="user-details">
              <div class="input-box1">
                <!-- <span class="details">Email</span>
              <input type="text" formControlName="email" placeholder="Enter your email" required> -->

                <mat-form-field class="reg-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                  @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                  <mat-error>Please enter a valid email address</mat-error>
                  }
                  @if (emailFormControl.hasError('required')) {
                  <mat-error>Email is <strong>required</strong></mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="input-box1">
                <!-- <span class="details">Password</span>
              <input type="password" formControlName="password" placeholder="Enter your password" required> -->

                <mat-form-field class="reg-form-field">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput type="password">
                </mat-form-field>
              </div>
            </div>
            <div class="btnon">
              <input type="submit" value="Login">
            </div>
            <div>
              You are not a member<a class="reg-now" routerLink="/register">Register now</a>
            </div>

          </form>
          <!-- <a routerLink="/admin/dashboard">admin-dashboard</a><br>
        <a routerLink="/company/emp-dashboard">company-dashboard</a> -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <br> <br>
  <br> <br>
  <br> <br>
  <br> <br>

  <br>
</div>