.reg-form {
    display: flex;
    justify-content: center;
    margin-top: 150px;



    .container-new {
        max-width: 500px;
        width: 100%;
        background-color: #d0ebdafb;
        padding: 25px 30px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(103, 153, 102, 0.15);
    }

    .container-new .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }
    .btnon  {
        margin-left: 160px;
        margin-bottom: 15px;
        
    }
    .btnon input{
        padding: 10px 40px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid #ccc;
        background-color: rgb(32, 131, 49);
        color: #fff;
        
    }
    .reg-now {
        text-decoration: none;
        color: green;
        font-weight: 500;
    }

    .container-new .title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        border-radius: 15px;
    }

    .content form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    form .user-details .input-box1 {
        margin-bottom: 15px;
        width: calc(100% - 20px);
    }

    form .input-box1 span.details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .user-details .input-box1 input {
        height: 45px;
        width: 100%;
        outline: none;

        font-size: 16px;
        border-radius: 10px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.4s ease;
    }
}