@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.reg-form {
    display: flex;
    justify-content: center;
    margin-top: 200px;

    .container-new {
        max-width: 500px;
        width: 100%;
        background-color: #d0ebdae0;
        padding: 25px 30px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(103, 153, 102, 0.15);
    }
    .container-new .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }
    .btnon  {
        margin-left: 160px;
        margin-bottom: 15px;
    }
    .btnon input{
        padding: 10px 40px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid #ccc;
        background-color: rgb(32, 131, 49);
        color: #fff;
    }
    .reg-now {
        /* text-decoration: none; */
        /* color: green; */
        font-weight: 500;
    }
    .container-new .title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        border-radius: 15px;
    }

    .content form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    form .user-details .input-box1 {
        margin-bottom: 15px;
        width: calc(100% - 20px);
    }

    form .input-box1 span.details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .user-details .input-box1 input {
        height: 45px;
        width: 100%;
        outline: none;

        font-size: 16px;
        border-radius: 10px;
        padding-left: 15px;
    
        border-bottom-width: 2px;
        transition: all 0.4s ease;
    }
}
.reg-full-width {
    margin-left: 20px;
    width: 400px;
  }
  .reg-form-field {
    margin-left: 20px;
    width: 400px;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.bacimg{
    background: transparent;
    width: 100%;
    height: 100%;
}



 
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.ring {
  position: relative;
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 1px solid #fff;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
  animation: animate 24s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
  animation: animate 26s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
  animation: animate2 28s linear infinite;
}
.ring i:nth-child(4) {
    border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
    animation: animate 5s linear infinite;
  }
  .ring i:nth-child(5) {
    border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
    animation: animate 6s linear infinite;
  }
  .ring i:nth-child(6) {
    border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
    animation: animate2 8s linear infinite;
  }
  .ring i:nth-child(7) {
    border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
    animation: animate 10s linear infinite;
  }
  .ring i:nth-child(8) {
    border-radius:30% 90% 30% 90% /30% 90% 30% 90%;
    animation: animate 12s linear infinite;
  }
  .ring i:nth-child(9) {
    border-radius: 30% 90% 30% 90% /30% 90% 30% 90%;
    animation: animate2 14s linear infinite;
  }
.ring:hover i {
  border: 2px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.login .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}
