<body>
    <app-loginnav></app-loginnav>

    <div class="loginf"><div class="reg-form">
        <div class="container-new">
            <div class="title">Log in now</div>
            <div class="content">
              <form action="#">
                <div class="user-details">
                  
                  <div class="input-box1">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box1">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" required>
                  </div>
                </div>
                <div class="btnon">
                  <input type="submit" routerLink="login" value="Login">
                </div>
                  <div>
                   <P>You are not a member  <a class="reg-now">Register now</a></P>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>

</body>
 
