<app-loginnav></app-loginnav>

<div class="loginf">
  <div class="reg-form">
    <div class="container-new">
      <div class="title">Log in now</div>
      <div class="content">
        <form [formGroup]="form" (submit)="submit()">
          <div class="user-details">

            <div class="input-box1">
              <span class="details">Email</span>
              <input type="text" formControlName="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box1">
              <span class="details">Password</span>
              <input type="password" formControlName="password" placeholder="Enter your password" required>
            </div>
          </div>
          <div class="btnon">
            <input type="submit" value="Login">
          </div>
          <div>
            You are not a member <a class="reg-now" routerLink="/register">Register now</a>

          </div>

        </form>
        <!-- <a routerLink="/admin/dashboard">admin-dashboard</a><br>
        <a routerLink="/company/emp-dashboard">company-dashboard</a> -->
      </div>
    </div>

  </div>
</div>