<div class="dash-b">
    <h1>Dashboard</h1>

</div>
<div class="main-path">


  <div class="dashboard-cards">
    <div class="dashboard-card card1">
      <div class="icon"><i class="fad fa-building"></i></div>
      <p>Total Companies</p>
      <span>00</span>
    </div>
    <div class="dashboard-card card2">
      <div class="icon"><i class="fad fa-user-friends"></i></div>
      <p>Total jobseekers</p>
      <span>00</span>
    </div>
    <div class="dashboard-card card3">
      <div class="icon"><i class="fad fa-ad"></i></div>
      <p>Total job advertiesment</p>
      <span>00</span>
    </div>
    <div class="dashboard-card card4">
      <div class="icon"><i class="fal fa-gem"></i></div>
      <p>Total Subscription Payments</p>
      <span>$00</span>
    </div>
  </div>
  
  </div>