
.div-cat {
    margin-left: 150px;
    width: auto;
    overflow: hidden; /* Ensure the container wraps its floated children */
}

.div-cat ul {
    list-style-type: none;
    overflow: hidden; /* Clear floats */
    
}

.div-cat ul .li-cat {
    float: left; /* Float the Job Category to the left */
}

.div-cat ul .li-cat1 {
    float: right; /* Float the Create Category button to the right */

}

.div-cat ul li h1 {
    padding: 0px 10px;
    display: block;
    margin: 0; /* Remove default margin */
}

.div-cat ul li button {
    padding: 10px 15px; 
    display: block; /* Make button a block element to fill its container */
    border-radius: 7px;
    border: transparent;
    background-color: rgb(32, 131, 49);
    color: #fff;
    cursor: pointer;
    transition: .4s;
}
.div-cat ul li button:hover{
    background-color: rgb(138, 230, 120);
}

.div-cat ul li input{
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.subscription-container {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .plan {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .plan:hover {
    transform: scale(1.05);
  }
  
  .plan h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #555;
  }
  
  .price {
    font-size: 2em;
    margin: 10px 0;
    color: #2196F3;
  }
  
  ul {
    margin-left: 10px;
    /* list-style: none; */
    padding: 0;
    text-align: left;
  }
  
  li {
    margin: 10px 0;
    font-size: 1em;
    color: #666;
  }
  
  .subscribe-btn {
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .subscribe-btn:hover {
    background: #1e87db;
  }
  