
<div class="div-cat">
    <ul class="ul-cat">
        <li class="li-cat">
            <h1>Subscriptions:</h1>
        </li>
        <!-- <li class="li-cat" style="margin-left: 30px;"><input type="text" id="search" name="search" placeholder="search company"></li>
        <li class="li-cat" style="margin-left: 15px;"><button>Search</button></li> -->
        <li class="li-cat1" style="margin-left: 20px; margin-right: 20px;"><button>view All</button></li>
        <li class="li-cat1"><button>Create Subscription</button></li>
    </ul>


</div>
<div class="subscription-container">
    <h1>Choose Your Plan</h1>
    <div class="plans">
      <div class="plan basic">
        <h2>Basic</h2>
        <p class="price">Free</p>
        <ul>
          <li>Access to basic job listings</li>
          <li>Apply to 15 jobs per month</li>
          <li>Email support</li>
        </ul>
        <button class="subscribe-btn">Subscribe</button>
      </div>
      <div class="plan premium">
        <h2>Premium</h2>
        <p class="price">$10/month</p>
        <ul>
        
          <li>post to unlimited jobs</li>
          <li>Priority email support</li>
          <li>Access to job application tips</li>
        </ul>
        <button class="subscribe-btn">Subscribe</button>
      </div>
      <!-- <div class="plan enterprise">
        <h2>Enterprise</h2>
        <p class="price">$50/month</p>
        <ul>
         
          <li>Dedicated account manager</li>
          <li>Company profile featured</li>
          <li>Advanced analytics and reports</li>
        </ul>
        <button class="subscribe-btn">Subscribe</button>
      </div> -->
    </div>
  </div>
  