<body>
    <app-loginnav></app-loginnav>

    <div class="loginf">
        <div class="reg-form">
            <div class="container-new">
                <div class="title">User Registration</div>
                <div class="content">
                    <form action="#">
                        <div class="user-details">
                            <div class="input-box1">
                                <span class="details">First Name</span>
                                <input type="text" placeholder="Enter first name" required>
                            </div>
                            <div class="input-box1">
                                <span class="details">Last Name</span>
                                <input type="text" placeholder="Enter last name" required>
                            </div>
                            <div class="input-box1">
                                <span class="details">Email</span>
                                <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box1">
                                <span class="details">Password</span>
                                <input type="password" placeholder="Enter your password" required>
                            </div>

                        </div>
                        <div class="btnon">
                            <input type="submit" value="Register">
                        </div>
                        <div>
                            <P>You have already an account <a class="reg-now" href="" routerLink="dashboard">Login now</a></P>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>